.container-fluid{
    padding: 0;
 }
 .footer{
     height: 398px;
     background: #304774;
 }

 .logoImg{
    filter: brightness(0) invert(1);
    margin: 10px 0;
 }
 
 .footer-card{
    border-bottom: 1px solid white;
 }
 .footer-card p{
    color: white;
    border-bottom: 1px solid white;
    font-size: 24px;
    width: 230px;
}
.footer-card li{
    color: white;
    font-size: 22px;
    line-height: 36.5px;
    margin: 10px 0;
}
.footer-card a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    line-height: 36.5px;
}

.footer-copyright p{
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.icon a{
    text-decoration: none;
    color: white;
    margin: 4px 10px;
}