.bg-image{
    background-image: url('../../images/bg-1.png');
    height: 506px;
    border-radius: 22px;
    margin-bottom: 20px;
}
.bg-image-text{
    position: absolute;
    margin: 20px;
    width: 381px;
    height: 122px;
    left: 98px;
    top: 741px;
    background: rgba(68, 90, 133, 0.5);
    border-radius: 0px 0px 0px 22px;
    color: white;
    padding: 30px;
}

.welcomeText{
    font-size:22px;
}
.course-card img{
    height: 200px;
}
.course{
    margin: 5px;
}

.best-blog{
    /* height: 426px; */
    /* border: 1px solid gray; */
}
.best-blog img{
    /* height: 350px; */
    width: 100%;
}
.icon{
    margin: 15px 0;
    color: goldenrod;
}
.best-card{
    margin: 10px;
}
.best-card h4{
    color:#304774;
}
.best-card p{
    color: gray
}